.actions-card {
  width: 400px;
  height: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #483443;
}

.title-card-img {
  font-size: 24px;
  color: #fff;
  text-align: center;

}

#content-card-img {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 1;
}

.gallery-card {
  max-height: 750px;
  width: 40vw;
  padding: 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}


#mat-card-right {
  left: calc(45% + 8px) !important;
}

@media (max-width: 768px) {


  #mat-card-right {
    left: 0 !important;
  }

  .gallery-card {
    width: 70vw;
    max-height: 350px;
  }

}

@media (max-width: 425px) {

  .gallery-card {
    width: 90%;
    height: 100%;
  }

  .actions-card {
    width: 400px;
    height: 200px;
  }

}

